PORT=4000

BASE_URL=http://localhost:4000

APP_TODAY=2026-05-15
TRUST_CF_CONNECTING_IP=false

JWT_SECRET=
JWT_EXPIRES_IN=12h

CORS_ORIGIN=http://localhost:3000,https://localhost,capacitor://localhost
